
body{
    background-color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
}
header{
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    height: 54px;
    top: 0;
    z-index: 1;
    background-color: #fff;
    border-bottom: 1px solid #DBDBDB;
}
.container{
    width: 935px;
    display: flex;
    margin: auto;
}
.container.desktop{
    height: 100%;
}
.container.mobile{
    display: none;
    margin: auto;
    height: 100%;
}
.container.mobile .logo{
    height: 100%;
}
header .container{
    justify-content: space-between;
    align-items: center;
}
ion-icon{
    font-size: 24px;
    cursor: pointer;
    color: #000;
}
header .logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    width: 103px;
    height: 29px;
    cursor: pointer;
}
.logo div{
    width: 1px;
    height: 25px;
    margin: 0 10px;
    background-color: #DBDBDB;
}
header input{
    width: 215px;
    height: 28px;
    border-radius: 3px;
    outline: none;
    color: #979797;
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
}
input::placeholder{
    text-align: center;
    color: #979797;
    font-weight: 400;
    font-size: 12px;
}
.icons ion-icon{
    margin-right: 25px;
}
.icons ion-icon:last-child{
    margin-right: 0;
}
.container.main{
    margin-top: 80px;
}



main{
    width: 614px;
    margin-right: 21px;
}
.storys{
    background-color: #FFF;
    height: 118px;
    width: 100%;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    margin-bottom: 24px;
    display: flex;
    overflow: hidden;
}
.storys-slider{      
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.storys ion-icon{
    color: #fff;
    font-size: 28px;
    transform: translate(575px, 40px);
    position: absolute;
    z-index: 99;
    border-radius: 50%;
}

.storys-slider .story-user:first-child{
    margin-left: 15px;
}
.story-user{
    width: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 16px;
    cursor: pointer;
}
.story-user--img{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
}
.story-user--img .border{
    width: 66px;
    height: 66px;
}
.story-user--img .story-perfil{
    width: 56px;
    height: 56px;
    position: absolute;
    margin: auto;
    border-radius: 50%;
    top: 5px;
    left: 4px;
}
.story-user--name{
    width: 100%;
}
.story-user--name p{
    font-size: 12px;
    color: #262626;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}




.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.post{
    background-color: #FFF;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    width: 100%;
    margin-bottom: 60px;
}
.post-head{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
}
.post-user{
    display: flex;
    justify-content: center;
    align-items: center;
}
.post-user img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-left: 15px;
    cursor: pointer;
}
.post-user--name{
    margin-left: 15px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}
.post-options{
    margin-right: 15px;
    cursor: pointer;
}
.post-options ion-icon{
    font-size: 16px;
}
.liked{
    font-size: 26px;
    color: red;
}
.post-img{
    width: 100%;
    height: 612px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.post-img img{
    width: 100%;
    height: 100%;
    }
video{
    width: 100%;
    height: 100%;
    background-color: black;
} 
.post-tail{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.post-icons{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    margin: 12px 0;
}
.post-icons ion-icon{
    margin-right: 17px;
}
.post-icons ion-icon:first-child{
    margin-left: 17px;
}
.post-icons ion-icon:last-child{
    position: absolute;
    right: 17px;
}
.post-likes{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 12px;
}
.post-likes img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 17px;
    cursor: pointer;
}
.likes-text{
    margin-left: 5px;
    color: #000;
}
.likes-text span{
    font-weight: 500;
    cursor: pointer;
}
.post-legend{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 12px;
}
.comment-names{
    font-size: 14px;
    font-weight: bold;
    margin-left:17px;
    margin-right: 8px;
}
.post-legend p,
.comment-msg{
    font-size: 14px;
}
.comments{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.all-comments{
    padding-left: 17px;
    margin-bottom: 10px;
    color: #8E8E8E;
}
.top-comments{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.comment{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
}
.comment p{
    overflow: hidden;
    text-overflow: ellipsis;
}
.comment p span{
    color: #B1BEC6;
}
.comment-like{
    position: absolute;
    right: 36px;
}
.comment-like ion-icon{
    font-size: 16px;
}
.comment-input{
    display: flex;
    width: 100%;
    position: relative;
}
.comment-input ion-icon, .comment-input button{
    position: absolute;
}
.comment-input ion-icon{
    cursor: context-menu;
    left: 10px;
}
.comment-input button{
    cursor: pointer;
    right: 0;
    background-color: transparent;
    outline: none;
    border: none;
    font-weight: 700;
    color: #B2DFFC;
    transition: 0.3s;
}
.comment-input button:hover{
    color: #0095F6;
}
.comment-input input{
    width: 100%;
    height: 22px;
    padding: 5px 40px;
    border-right: none;
    border-left: none;
    border-bottom: none;
    border-top: 1px solid #DBDBDB;
}
.comment-input input::placeholder{
    text-align: left;
}
.comment-input input:focus{
    outline: none;
}
.comment-input ion-icon{
    top: 4px;
}
.comment-input button{
    top: 8px;
}




aside{
    width: 293px;
    transform: translateX(220%);
    position: fixed;
    background-color: #FAFAFA;
}
.logged-area{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.logged-area--user{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100px;
}

.logged-area--user img{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin-right: 17px;
}
.logged-user-nick{
    color: #262626;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.logged-user--name{
    font-size: 14px;
    font-weight: 300;
    color: #8E8E8E;
    line-height: 16px;
}
.logged-area--suggestion{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.suggestion-head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}
.suggestion-head p:first-child{
    font-size: 12px;
    font-weight: 500;
    color: #8E8E8E;
}
.suggestion-head p:last-child{
    font-size: 12px;
    font-weight: 500;
    color: #262626;
    cursor: pointer;
}
.suggestions{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.suggestion-user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}
.suggestion-user--info{
    display: flex;
}
.suggestion-user--info img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 11px;
    cursor: pointer;
}
.suggestion-user--perfil{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.suggestion-user--nick{
    color: #262626;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}
.suggestion-user--name{
    color: #8E8E8E;
    font-size: 12px;
    font-weight: 400;
}
.follow{
    color: #139EF2;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}
.logged-area--tail{
    display: flex;
    flex-direction: column  ;
}
.logged-area--tailnav{
    color: black;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 18px;
}
.logged-area--tail a{
    text-decoration: none;
}
.logged-area--tail p{
    font-size: 11px;
    margin-right: 3px;
    color: #c7c7c7;
}
.logged-area--tailnav p:hover{
    text-decoration: underline;
}



footer{
    display: none;
    background-color: #FFF;
    width: 100%;
    position: fixed;
    bottom: 0;
}
footer div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px 20px;
}



@media (max-width: 935px){
    .container.desktop,
    .container.main{
        width: 100%;
    }
    .container.desktop{
        margin: 0 20px;
    }
    aside{
        display: none;
    }
    .container.main{
        justify-content: center;
    }
    .post-user{
        max-width: 614px;
    }
}

@media (max-width: 615px){
    main{
        width: 100%;
        margin: 0;
    }
    .container.desktop{
        display: none;
    }
    .container.mobile{
        display: flex;
    }
    .container.mobile .logo{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .logo ion-icon:first-child{
        margin-left: 21px;
    }
    .logo img{
        width: 103px;
        height: 29px;
    }
    .logo ion-icon:last-child{
        margin-right: 21px;
    }
    .container.main{
        margin-top: 38px;
    }
    .storys{
        background-color: transparent;
        height: 118px;
        width: 100%;
        border: 0;
        margin-bottom: 0;
        overflow: scroll;
    }
    .storys::-webkit-scrollbar {
        display: none;
      }
    .storys ion-icon{
        display: none;
    }
    .storys .storys-slider{
        display: flex;
        align-items: center;
    }
    .post{
        border-left: 0;
        border-right: 0;
    }
    .post-legend{
        align-items: baseline;
    }
    .comment{
        overflow: hidden;
        white-space: nowrap;
    }
    .comment p{
        width: 50%;
    }
    footer{
        display: flex;
    }

}
