body{
    color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    height: 54px;
    top: 0;
    z-index: 1;
}
.container{
    width: 935px;
    display: flex;
}
header .container{
    justify-content: space-between;
    align-items: center;
    background-color: green;
}
ion-icon{
    font-size: 24px;
    cursor: pointer;
    color: #000;
}
header .logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    width: 103px;
    height: 29px;
    margin-left: 10px;
    cursor: pointer;
}
.logo ion-icon{
    border-right: 1px solid #DBDBDB;
    /* padding-right: 10px; */
}
header input{
    width: 215px;
    height: 28px;
    border-radius: 3px;
    outline: none;
    color: #979797;
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
}
input::placeholder{
    text-align: center;
    color: #979797;
    font-weight: 400;
    font-size: 12px;
}
.icons ion-icon{
    margin-right: 25px;
}
.container.main{
    margin-top: 80px;
}



main{
    width: 614px;
    height: 300px;
    margin-right: 21px;
}
.storys{
    background-color: #FFF;
    height: 118px;
    width: 100%;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    margin-bottom: 24px;
    display: flex;
    overflow: hidden;
    position: relative;
}
.storys-slider{
    width: 1400px;
    height: 100%;
    display: flex;
    align-items: center;
    /* background-color: red; */
}
.storys-slider .story-user:first-child{
    margin-left: 17px;
}
.story-user{
    width: 66px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 17px;
    cursor: pointer;
}
.story-user--img{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
}
.story-user--img .border{
    width: 66px;
    height: 66px;
}
.story-user--img .story-perfil{
    width: 56px;
    height: 56px;
    position: absolute;
    margin: auto;
    border-radius: 50%;
    top: 5px;
    left: 5px;
}
.story-user--name{
    width: 100%;
}
.story-user--name p{
    font-size: 12px;
    color: #262626;
    text-align: center;
}




.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.post{
    background-color: #FFF;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    width: 100%;
    margin-bottom: 60px;
}
.post-head{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
}
.post-user{
    display: flex;
    justify-content: center;
    align-items: center;
}
.post-user img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-left: 15px;
    cursor: pointer;
}
.post-user--name{
    margin-left: 15px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}
.post-options{
    margin-right: 15px;
    cursor: pointer;
}
.post-options ion-icon{
    font-size: 16px;
}
.post-img{
    width: 100%;
    height: 612px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.post-img img{
    width: 100%;
    height: 100%;
}
.post-tail{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 76px;
}
.post-icons{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}
.post-icons ion-icon{
    margin-right: 17px;
}
.post-icons ion-icon:first-child{
    margin-left: 17px;
}
.post-icons ion-icon:last-child{
    position: absolute;
    right: 17px;
}
.post-likes{
    display: flex;
    align-items: center;
    width: 100%;
}
.post-likes img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 17px;
    cursor: pointer;
}
.likes-text{
    margin-left: 5px;
    color: #000;
}
.likes-text span{
    font-weight: 500;
    cursor: pointer;
}


aside{
    width: 293px;
    margin-left: 643px;
    position: fixed;
    right: 10;
    flex: 1;
}
.logged-area{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.logged-area--user{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 118px;
}
.logged-area--user img{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin-right: 17px;
}
.logged-user-nick{
    color: #262626;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.logged-user--name{
    font-size: 14px;
    font-weight: 300;
    color: #8E8E8E;
    line-height: 16px;
}